:root {
    --bg: #000000;
    --bg-card: #0E1218;
    --text: #F1F1F1;
    --img-profile: #8257e5;
    --buttons: #FFF;
    --border-button: #1A1A1A;

    font-size: 62.5%;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Prompt', sans-serif;
}

body {
    background-color: var(--bg-card);
    color: var(--text);
}