:root {
    --bg: #000000;
    --bg-card: #0E1218;
    --text: #F1F1F1;
    --img-profile: #8257e5;
    --buttons: #FFF;
    --border-button: #1A1A1A;

    font-size: 62.5%;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Prompt', sans-serif;
}

body {
    background-color: var(--bg-card);
    color: var(--text);
}

main .container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 14.6rem;

    margin: 6rem 0 0 0;

    text-align: center;
}

main .container .left-content p {
    font-size: 2rem;
    line-height: 3rem;

    margin-bottom: 2.4rem;
}

main .container .left-content .card {
    background-color: var(--bg-card);

    width: 44rem;

    padding: 3.2rem;

    border: 2.4rem solid var(--bg);
    border-radius: 5rem;
}

main .container .left-content .card .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 3.2rem;
}

main .container .left-content .card .header a {
    font-size: 2.4rem;
    line-height: 3.6rem;
    text-decoration: none;
    color: var(--text);
    
    margin: 0;

    cursor: pointer;

    transition: 300ms;
}

main .container .left-content .card .header a:hover {
    opacity: .7;
}

main .container .left-content .card .header .image-border {
    border: 1px solid var(--text);
    border-radius: 5rem;

    width: 4.8rem;
    height: 4.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

main .container .left-content .card .header .image-border img {
    width: 3.2rem;
    height: 3.2rem;
}

main .container .left-content .card .main {
    position: relative;

    margin: 4rem 0;
}

main .container .left-content .card .stats {
    position: absolute;

    background-color: var(--bg);

    max-width: 25rem;
    width: 100%;

    padding: 2rem 3.2rem;
    margin: -15rem 0;

    border-radius: 5rem;
}

main .container .left-content .card .stats .followers, main .container .left-content .card .stats .following, main .container .left-content .card .stats .repos, main .container .left-content .card .stats .company, main .container .left-content .card .stats .location {
    display: flex;
    gap: 3rem;
}

main .container .left-content .card img.user-image {
    display: block;

    transform: translateX(3.2rem);
}

main .container .left-content .card .stats p {
    margin: 0;

    display: block;

    font-size: 1.6rem;
}

main .container .left-content .card .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;

    margin: 8rem 0 0 0;
}

main .container .left-content .card .footer p {
    font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;
    
    margin: 0;
}

main .container .left-content .card .footer img {
    width: 2.8rem;
    height: 3.6rem;
}

main .container .right-content p {
    font-size: 2rem;
    line-height: 3rem;

    margin-bottom: 3.2rem;
}

main .container .right-content button {
    width: 23rem;
    height: 6rem;

    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text);

    border: 1px solid var(--border-button);
    border-radius: 1.6rem;

    background-color: var(--bg);

    cursor: pointer;
}